.headerPrincipal .container {
    /* elementos uno al lado de otro */
    display: flex;
    /* elementos centrados */   
    /* elementos alineador verticalmete */
    align-items: center;
    /* espacion entre los elementos */
    justify-content: space-between;
}

/* can i use: mira que versiones es compatible con que navegadores */

.headerPrincipal-nav {
    /* elementos uno al lado de otro */
    display: flex;
}