.headerPrincipal .container {
    /* elementos uno al lado de otro */
    display: flex;
    /* elementos centrados */   
    /* elementos alineador verticalmete */
    align-items: center;
    /* espacion entre los elementos */
    justify-content: space-between;
}

/* can i use: mira que versiones es compatible con que navegadores */

.headerPrincipal-nav {
    /* elementos uno al lado de otro */
    display: flex;
}

.rodapePrincipal-patrocinadores .container {
display: flex;
justify-content: space-between;

}

.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;
    justify-content: space-around ;
    width: 75%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm-fieldset{

    display: flex;
}

.rodapePrincipal-navMap-list{
    display: flex;
    flex-direction: column;
    height: 253px;
    flex-wrap: wrap;
}


.contenidoPrincipal-cursos{

    display: flex;
  flex-wrap: wrap;
}

.contenidoPrincipal-cursos-link{
    display: flex;
    width: 20%;
}